body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-popover-inner-content {
  padding: 0 !important;
}
.activeCat .ant-collapse-header {
  color: #fff !important;
  cursor: default !important;
  background: #b4b4b4 !important;
}

.activeCat .ant-collapse-header:hover {
  background: #b4b4b4 !important;
  opacity: 0.8;
}

.active {
  background: rgba(85,171,128,0.15);
}