body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-popover-inner-content {
  padding: 0 !important;
}
.ant-collapse .ant-collapse-no-arrow > .ant-collapse-header {
  color: #fff !important;
  cursor: default !important;
  background: #b4b4b4 !important;
}

.ant-collapse .ant-collapse-no-arrow > .ant-collapse-header:hover {
  background: #b4b4b4 !important;
  opacity: 0.8;
}

.ant-empty-description {
  font-size: 0px !important;
}
